node_modules/
**/node_modules/

dist/
build/
out/
*.tsbuildinfo

.aws-sam/

infrastructure/env/*.json
.env
.env.*

.aws-sam/
samconfig.toml

.aws/
credentials
config


.DS_Store
Thumbs.db

**/docker-compose.override.yml
*.pid

tmp/
temp/
.cache/

cdk.out/
.serverless/